</br>
<div style="position: absolute; margin-top: -25px; margin-left: 350px;">
<div class="row">
<div class="col-lg-10"></div>
<div class="col-lg-2"  style="width: 200px;">
        <table class="table">
        [% FOREACH book IN Books %]
        [% PROCESS book.tt %]
        [% END %]
</table>
</div>
</div>
</div>
